.App {

  background-color: #E34A94;
}

.App-logo {
  height: 40vmin;
}
.App-logo:hover{
  height: 60vmin;
}
.App-logo1{
  height: 60vmin;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo{
    animation: App-logo-spin infinite 20s linear;
  }
}
.btn1{
  background-color:transparent;
  border: none;

}
.btn1:focus , .cardbtn:focus{
  outline: 0 !important;
}
.cardbtn{
  color: white;
  background-color: teal;
  padding: 10px 5px 10px 3px;
  border-radius: 100px;
  height: 3em;
  width: 3em;
  font-size: larger;
  cursor: pointer;

}
.cardbtn:hover{
  background-color: transparent;
  color: teal;
}
.cardstyle{
  background: no-repeat;
  background-image: url(card.png);
  background-position: center;

}

.App-header {
text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
